
%h1.center Food Insert

#new-food-view
	#new-food-general-view
	#new-food-nutrition-view
	#new-food-ingredient-view
	%button.save{:type=>"button"} Save
	%ul.food-save-error

#new-food-templates
	%script#new-food-general-template{:type=>"text/template"}
		%h2 General Food Info
		%input.name{:type=>"text",:placeholder=>"name of food"}

	%script#new-food-nutrition-template{:type=>"text/template"}
		%h2 Nutritional Info
		%input.amount{:type=>"text",:placeholder=>"9g, 100, 20g, etc"}
		%input.name{:type=>"text",:placeholder=>"protein, calories, fat, etc"}
		%button.add{:type=>"button"} +
		%ol.list

	%script#new-food-nutrition-model-template{:type=>"text/template"}
		({{amount}}) {{name}}
		%button.remove{:type=>"button"} -

	%script#new-food-ingredient-template{:type=>"text/template"}
		%h2 Ingredients
		.validation-errors
		%input.name{:type=>"text",:placeholder=>"new ingredient name"}
		%button.add{:type=>"button"} +
		%ol.list

	%script#new-food-ingredient-model-template{:type=>"text/template"}
		{{name}}
		.validation-errors
		%input.name{:type=>"text",:placeholder=>"new composite name"}
		%button.add{:type=>"button"} +
		%button.remove{:type=>"button"} -
		%ol.composites

%script{:src=>"/js/underscore-1.5.2.min.js"}
%script{:src=>"/js/handlebars-v1.1.2.js"}
%script{:src=>"/js/backbone-1.1.0.min.js"}
%script{:src=>"/js/food-create.js"}