
%h1.center Food Insert

#new-food-view
	#new-food-general-view
	#new-food-nutrition-view
	#new-food-ingredient-view
	%button.save{:type=>"button"} Save
	%ul.food-save-error

#new-food-templates
	%script#new-food-general-template{:type=>"text/template"}
		%h2 General Food Info
		%input.name{:type=>"text",:placeholder=>"name of food"}

	%script#new-food-nutrition-template{:type=>"text/template"}
		%h2 Nutritional Facts
		%table
			%tr
				%td Calories
				%td
					%input.calories{:type=>"text",:placeholder=>"calories",:value=>"{{calories}}"}
			%tr
				%td Total Fat
				%td
					%input.total_fat{:type=>"text",:placeholder=>"total fat",:value=>"{{total_fat}}"}
			%tr
				%td Sat. Fat
				%td
					%input.sat_fat{:type=>"text",:placeholder=>"sat. fat",:value=>"{{sat_fat}}"}
			%tr
				%td Cholesterol
				%td
					%input.cholesterol{:type=>"text",:placeholder=>"cholesterol",:value=>"{{cholesterol}}"}
			%tr
				%td Sodium
				%td
					%input.sodium{:type=>"text",:placeholder=>"sodium",:value=>"{{sodium}}"}
			%tr
				%td Potassium
				%td
					%input.potassium{:type=>"text",:placeholder=>"potassium",:value=>"{{potassium}}"}
			%tr
				%td Total Carbs
				%td
					%input.total_carbs{:type=>"text",:placeholder=>"total_carbs",:value=>"{{total_carbs}}"}
			%tr
				%td Fiber
				%td
					%input.fiber{:type=>"text",:placeholder=>"fiber",:value=>"{{fiber}}"}
			%tr
				%td Sugar
				%td
					%input.sugar{:type=>"text",:placeholder=>"sugar",:value=>"{{sugar}}"}
			%tr
				%td Protein
				%td
					%input.protein{:type=>"text",:placeholder=>"protein",:value=>"{{protein}}"}

	%script#new-food-ingredient-template{:type=>"text/template"}
		%h2 Ingredients
		.validation-errors
		%input.name{:type=>"text",:placeholder=>"new ingredient name"}
		%button.add{:type=>"button"} +
		%ol.list

	%script#new-food-ingredient-model-template{:type=>"text/template"}
		{{name}}
		%button.remove{:type=>"button"} -
		.validation-errors
		%input.name{:type=>"text",:placeholder=>"new composite name"}
		%button.add{:type=>"button"} +
		%ol.composites

%script{:src=>"/js/underscore-1.5.2.min.js"}
%script{:src=>"/js/handlebars-v1.1.2.js"}
%script{:src=>"/js/backbone-1.1.0.min.js"}
%script{:src=>"/js/food-create.js"}