#header
	.fadeLeft
	.fadeRight
	#headerLeft
	#headerRight
	%img#headerPicture{:alt=>"grub!", :src=>"img/grub_xs.jpeg"}
	.title
		%div
			coming
			%span soon

#body
	-if @user && @user.is_admin?
		%h3 Welcome #{@user.name}
		%a{:href=>"/new/food"} New Food
