
.container{:style=>"margin-top:20px;"}
-if settings.development?
	%form{:method=>"get", :action=>"#{url('/auth/developer')}"}
		%button{:type=>"submit", :style=>"padding:10px;"} Login with dev mode!
-else
	%form{:method=>"get",:action=>"#{url('/auth/google_oauth2')}"}
		%button{:type=>"submit", :style=>"padding:10px;"} Login with Google

.container{:style=>"margin-top:20px;"}
	%a{:href=>"/"} Back to homepage