$red: #FF0000; // red!
$orange: #FFBF00;
$yellow: #FFFF00;
$gree: #7fff00;
$light-blue: #007FFF;
$cyan: #00FFFF;
$blue: #0000FF;
$purple: #7F00FF;
$magenta: #FF00FF;
$black: #000;
$white: #FFF;
$grub-grey-blue: #4b637a;
$nav-grey:#79a0c9;

$nav-width:200px;
$nav-height:30px;
$gutter:8%;
$fade-width:10%;
$background-color:#e3e3e1;
$tablet-width:760px;