@import "compass";
@import "compass/css3";
@import "partials/variables";
@import "partials/fonts";
@import "partials/normalize";

body{
	background-color:$background-color;
}
img{
	max-width: 100%;
}

.nav-bar, .nav, #everything{
	@include transition-property(left);
	@include transition-duration(0.5s);
}

.nav-bar{
	background-color:$grub-grey-blue;
	@media screen and (max-width:$tablet-width){
		position:relative;
	}

	.nav-toggle{
		display:none;
		@media screen and (max-width:$tablet-width){display:inline-block;}

		padding:10px;
		@include border-radius(10px);
		&:hover{background-color:$nav-grey;cursor:pointer;}
		.icon-menu{
			
		}
	}
	.nav{
		@media screen and (max-width:$tablet-width){
			position:fixed;
			top:0px;
			left:-$nav-width;
			width:$nav-width;
			min-height:200px;
			background-color:$grub-grey-blue;
			@include background(linear-gradient(top, 
											$grub-grey-blue 50%, 
											$background-color));
		}
		ul{
			padding:5px;
			margin:0px;
			li{
				display:inline-block;
				@media screen and (max-width:$tablet-width){display:block;}

				padding:10px;
				font-style:italic;
				font-family: '20_dbregular';
				font-size:0.8em;
				color: darken($white,20%);
				@include text-shadow(2px 2px 2px rgba($black,0.75));
				&:hover{
					background-color:$nav-grey;
					cursor:pointer;
					@include border-radius(10px);
				}

				a,a:link,a:hover,a:visited{color: darken($white,20%);}
			}
			li.right{
				float:right;
				@media screen and (max-width:$tablet-width){float:none;}
			}
		}
	}
	.nav.nav-open{
		left:0px;
	}
}
.nav-bar.nav-open{
	left:$nav-width;
}

#everything{
	position:relative;
	width: 100%;
}
#everything.nav-open{
	
	left:$nav-width;
}

div#header{
	max-height:393px;
	position:relative;
	width:100%;
	text-align:center;

	.fadeLeft{
		position:absolute;
		width:$fade-width;
		left:0px;
		height:100%;
		@include background(linear-gradient(right, 
											rgba($background-color,0.0), 
											rgba($background-color,1.0)));
		z-index:100;
	}
	.fadeRight{
		position:absolute;
		width:$fade-width;
		right:0px;
		height:100%;
		@include background(linear-gradient(left, 
											rgba($background-color,0.0), 
											rgba($background-color,1.0)));
		z-index:100;
	}
	#headerLeft{
		@include background(image-url('grub_xs_left.jpeg'),
							repeat-x);
		height:100%;
		max-height:393px;
		width:50%;
		position:absolute;
		top:0px;
		left:0px;
		z-index:-1;
	}
	#headerRight{
		background-image:image-url('grub_xs_right.jpeg');
		background-repeat: repeat-x;
		height:100%;
		max-height:393px;
		width:50%;
		position:absolute;
		top:0px;
		right:0px;
		z-index:-1;
	}
	.title{
		//@include text-shadow(0 3px 0 hsla(0,0%,0%,0.75));
		@include text-shadow(2px 2px 2px rgba($black,0.75));
		position:absolute;
		bottom:-2px;
		width:100%;
		text-align:center;
		font-family: '20_dbregular';
		color: darken($white,20%);
		background-color: rgba(#334761,0.6);
		font-size:1.5em;
		span{
			display:block;
		}
	}
}
